<form class="form-inline"> 
  <fieldset class="span5">
    <legend>{{:title}}</legend>
    <div class="cart_items">
    </div>
    <div class="form-actions">
      <a class="btn" href="#add">
        <i class="icon-plus"></i>
        入力欄を追加
      </a>
      <a class="btn btn-success" href="#sum">
        <i class="icon-shopping-cart icon-white"></i>
        合計 
      </a>
      <a class="btn btn-primary" href="#add">
        <i class="icon-pencil icon-white"></i>
        保存 
      </a>
    </div>
  </fieldset>
</form>
